.navbar {
  background-color: #ffffff;
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(110, 109, 109, 0.774);
}
.nav-link {
  display: flex;
  gap: 5vw;
  align-items: center;
  width: 90%;
}
li {
  list-style-type: none;
  font-size: 20px;
}
a {
  color: #000;
  padding: 7.5px;
  text-decoration: none;
  font-weight: 6px !important;
}
a:hover {
  color: #ffffff;
  background-color: black;
  border-radius: 28px;
}
.section {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: url("michael-marsh.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.com-title {
  font-size: 40px;
  color: #ecebeb;
  text-shadow: -4px 0 2px #505050;
}
.content {
  color: rgba(112, 109, 109, 0.486);
  font-size: 18px;
  text-shadow: 2px 0 1px #ffffff;
  font-weight: 5px;
}
.about-section {
  background-image: url("pexels-pixabay-269077.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.profile-card {
  display: flex;
  gap: 10px;
}
.profile {
  width: 100px;
  height: 100%;
}
